@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:bg-primaryDark transition duration-200;
}

  .btn-danger {
    @apply bg-danger text-white px-4 py-2 rounded-lg hover:opacity-90 transition duration-200;
  }

  .input-field {
    @apply w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary;
  }

  .card {
    @apply bg-white p-6 rounded-2xl shadow-md;
  }

  .page-container {
    @apply min-h-screen flex items-center justify-center bg-secondary;
  }

  .title-lg {
  @apply text-3xl font-bold text-gray-800;
}

.title-md {
  @apply text-xl font-semibold text-gray-700;
}

.text-muted {
  @apply text-gray-500 text-sm;
}
}